<div class="container">
  <div class="trendingContainter">
    <div class="title">
      <h2>Trending</h2>
    </div>
    <div class="trending">
      
      <div class="trendinglist" *ngFor="let stock of trendingData">
        <div class="card">
          <h5 class="card-header">{{stock['ticker'] | uppercase}}<button class="btn btn-success" (click)="addToPortfolio({symbol: stock['ticker']})">Add</button>
          </h5>
          <div class="card-body">
            <h5 class="card-title">{{stock['name']}}</h5>
            <p class="card-text">${{stock['price']}} <span [ngClass]="stock['day_change'] > 0 ? 'positive' : 'negative'"><span *ngIf="stock['day_change'] > 0 else negative">&#8679;</span><ng-template #negative>
              <span>&#8681;</span>
             </ng-template> ({{stock['day_change']}})%</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<div class="news">
  <news [stockName]="trendingNamesString"></news>

</div>

</div>