<div class="container">
  <div class="trending">
    <h2>Trending</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4" *ngFor="let stock of trendingData">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{stock['ticker']}}</h5>
            <p class="card-text">{{stock['name']}}</p>
            <p class="card-text">${{stock['price']}} ({{stock['day_change']}})%</p>
            <button class="btn btn-success" (click)="addToPortfolio({symbol: stock['ticker']})">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="news" *ngIf="trendingNews.length > 0">
    <h2>News</h2>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <a href="{{trendingNews[0]['image_url']}}"><img src="{{trendingNews[0]['image_url']}}" class="d-block w-100"
              alt="..." target="_blank"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>{{trendingNews[0]['title']}}</h5>
            <p>{{trendingNews[0]['description']}}</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <a href="{{trendingNews[1]['image_url']}}"><img src="{{trendingNews[1]['image_url']}}" class="d-block w-100"
              alt="..." target="_blank"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>{{trendingNews[1]['title']}}</h5>
            <p>{{trendingNews[2]['description']}}</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{trendingNews[2]['image_url']}}"><img src="{{trendingNews[2]['image_url']}}" class="d-block w-100"
              alt="..." target="_blank"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>{{trendingNews[2]['title']}}</h5>
            <p>{{trendingNews[2]['description']}}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>