.container{
    width: 100%;
}

.trending{
    border-radius: 10px;
    background-color: #B1D0E0;
    padding: 20px;
    margin-top: 20px;
}

.positive{
    color: green;
}
.negative{
    color: red;
}
.trendinglist{
    display: inline-block;
}
.card{
    display: flex;
    min-height: 200px;
    max-width: 200px;
    margin-right: 20px;
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.text{
    display:inline;
    background-color:#efefef;
    opacity:70%;
    border-radius: 20px;
}