*{
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
}
header{
    margin: 0;
    border: 1px solid darkgray;
    background-color: #efefef;
}
h2{
    margin: 0;
}
.container{
    margin: 0;
    padding: 0;
    display: flex;
}
.form{
    display: flex;
}
.none{
    text-decoration: none;
    color: black;
}
li{
    margin: auto 0;
    color: #1b8654;

}
.search{
    height: 40px;
    margin: auto 0;
}

.searchbtn{
    margin: auto 0;

}

.bullish{
    animation-name: bullish;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }
  .bearish{
    animation-name: bearish;
    animation-duration: 6s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes bullish {
    50%  {color:springgreen;
    font-size: 35px}
  }
  @keyframes bearish {
    50%  {color:red;
    font-size:35px}
  }