<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Quicksand&display=swap" rel="stylesheet">
<div class="whole">
  <div class="header">
    <header class="d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
        <img src="assets/logo.png" alt="logo" style="width: 95px; height: 80px;">
        <a routerLink="homepage" class="none"><span class="fs-4 title"><h2><span class="bullish">Bullish</span> or <span class="bearish">Bearish</span>?</h2></span></a>
        
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="homepage" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="portfoliopage" class="nav-link">My Portfolio</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
      <form class="form col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input name="symbolSearch" type="search" class="search form-control form-control-dark" placeholder="Search..." aria-label="Search" [(ngModel)]="symbolSearch">
        <a class="searchbtn" routerLink="searchpage/{{symbolSearch}}"><button type="submit" class="btn btn-light btn-outline-success" (click)="addTosearchList(symbolSearch)">Submit</button>
        </a>
      </form>
    </header>
  </div>
  <div class="container">
    <div class="sidebar">
      <sidebar></sidebar>
    </div>
    <div class="page">
      <page></page>
    </div>
  </div>
</div>