.sidebar{
    padding-top: 10px;
    height: 90%;
    max-width: 300px;
    max-height: 700px;
    overflow: scroll;
    background-color: #efefef;
    border-right: 1px solid darkgray;
}
.titlediv {
    background-color: #efefef;
}
.title{
    margin: 10px auto;
    background-color: #efefef;
    
    text-decoration: none;

}

.stocklink{
    display: flex;
}

.stocklist {
    background-color: #efefef;
}

.stock{
    display:flex;
    background-color: #efefef;

}

.removestock{
    width:45px;
}
.removestock:hover{
    background-color:#dc3545;
}

.none{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    color: #1A374D;
    margin: 10px auto;

}

