.container{
    border-radius: 10px;
    background-color: #B1D0E0;
    padding: 20px;
    margin: 20px 15px;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    
}
.containerHalf {
    display: flex;
    width: 100%;
}

.containerHalf2 {
   display: flex;
}

.containerQuarter{
    display: flex;
    float:left;
    flex: 1;
    
    width: 50%;

}

.chartinput{
    background-color: #f7f7f7;
}

.chart{
    display: flex;
}
.profile{
    margin-bottom: 15px;

}

.panel{
    margin-bottom: 15px;
}